* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", system-ui, -apple-system, sans-serif;
  color: #29513b;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(145deg, #faffdc, #fceee2);
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}